:root{
    --color: #090699;
    --bg-color: #090699;
    --logo-font:'Gochi Hand';
}

/* @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap'); */

@font-face {
    font-family: Gilroy-medium;
    src: url('../dist/font/Gilroy-Medium.ttf');
  }

  @font-face {
    font-family:Gilroy-bold;
    src:url('../dist/font/Gilroy-Bold.ttf');
  }


*{
    padding:0;
    margin:0;
}

.preloader{
    position:fixed;
    top:0%;
    display:flex;
    width:100%;
    z-index:2;
    height:100vh;
    background: var(--color);
    align-items: center;
    justify-content: center;
}

.preload{
    flex: 0 0 20%;
    height:100vh;
    border:none;
    background: var(--color);
}

a.navbar-brand, .brandlogo, .loader{
    font-family: 'Gochi Hand';
    color: var(--color) !important;
    font-size:1.5rem
}

.loader{
    color:white !important;
    animation:bright .8s ease-in-out infinite alternate;
}

@keyframes bright{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.loaderimg{
    animation:rotate .8s ease infinite forwards;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.navbar-brand{
    animation-delay:1.5s;
    animation-duration:2s;
}

.abouth{
    color: var(--color);
}

a:hover{
    text-decoration: none;
}


nav, .container{
    overflow:hidden !important;
}

.sharenote, .coming, .abouth, .pick{
    font-family: Gilroy-bold;
}

.notif, .aboutp, .pickp{
    font-family:Gilroy-medium;
}

.sharenote{
    color: var(--color);
    line-height: 58px;
}

.mobile1{
    height:590px;
    width:450px !important;
}

input{
    border-radius:5px 0px 0px 5px !important;
    border:1px solid #C4C4C4;
    height:30px;
    width:300px !important;
}

.submit{
    height:37px !important;
    border:none;
    background: var(--bg-color);
    color:#fff;
    padding:3px 10px;
    border-radius:0px 5px 5px 0px;
    margin-top:-1px;
}

.brandlogo{
    position:absolute !important;
    left:40%;
    top:40%;
}

.aboutp{
    width:80%;
    margin:30px auto;
    font-size:1.4rem;
}

.pickp{
    font-size:1.5rem;
}

.footform{
    display:flex;
    align-items: center;
    justify-content: center;
}

footer{
    font-family: 'Montserrat', sans-serif;
    background: var(--color);
}

/* success and error page */
.contain{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:Gilroy-medium;
    font-size:1.2rem;
    width:100%;
    padding:50px;
}



/* media queries */
@media screen and (max-width:451px){
    
    input{
        max-width:150px;
    }
    button{
        width:95px;
        font-size:0.8rem;
        padding:3px 5px !important;
    }
    ::-webkit-input-placeholder{
        font-size:0.8rem;
    }
    
}

@media screen and (max-width:517px){
    .sharenote{
        line-height:40px;
        font-size:1.5rem;
    }
    .coming{
        font-size:1.6rem !important;
    }
}

@media screen and (max-width:768px){
    .navbar{
        padding:1.8rem !important;
    }

   .aboutp{
       width:100%;
   }

    /* .sharenote{
        font-size:1.8rem !important;
    } */

    .ordering{
        order:2 !important;
    }

    .orderin{
        order:1 !important;
        margin-bottom:3rem;
    }

    .dropped{
        margin-bottom:3rem;
    }

    form{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:991px), (min-width:768){
    input{
        width:200px !important;
    }

    .sharenote{
        font-size:1.6rem !important;
        line-height:30px;
    }

    .notif:nth-child(1){
        margin-top:0.9rem !important;
    }
}